    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: white !important;
    }
    
    body {
        font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
    }
    
    .batinspect {
        font-size: calc(14px + (25 - 14) * ((100vw - 300px) / (1600 - 300)));
    }
    
    .altText {
        font-size: calc(8px + (18 - 8) * ((100vw - 300px) / (1600 - 300)));
    }
    
    .logintext {
        font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #4b84b7;
    }
    
    .hdr1 {
        margin-left: 15px;
        font-size: 1.75em;
        color: #4b84b7;
    }
    
    .hdr2 {
        margin-left: 15px;
        font-size: 1.75em;
        color: #ee6534;
        font-weight: bold;
    }
    
    .headerdiv {
        background: #f9f8f7;
    }
    
    .user_card {
        height: auto;
        min-height: 175px;
        width: 100%;
        margin-top: 15%;
        margin-bottom: auto;
        margin-left: 20px;
        margin-right: 20px;
        background: #e1e0e0;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 1.5em;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }
    
    .user_card a {
        color: #444;
    }
    
    .user_card a:hover {
        color: #ee6534;
        font-weight: bold;
    }
    
    .login_card {
        height: auto;
        width: 350px;
        margin-top: auto;
        margin-bottom: auto;
        background: #797979;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }
    
    .user_card2 {
        height: auto;
        width: 550px;
        margin-top: auto;
        margin-bottom: auto;
        background: #797979;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }
    
    .checkbxlbl {
        display: block;
        padding-left: 15px;
        text-indent: -15px;
    }
    
    .plcheckbox {
        width: 20px;
        height: 16px;
        padding: 0;
        margin: 0 5px 0 0;
        position: relative;
        *overflow: hidden;
    }
    
    .signupinput {
        margin-bottom: .15rem !important;
        color: #f2f2f2;
    }
    
    .signupinput h5 {
        color: #ee6534;
    }
    
    .sulabel {
        display: flex;
        align-items: center;
        height: 25px;
    }
    
    .brand_logo_container {
        position: absolute;
        height: 90px;
        width: 270px;
        top: -55px;
        border-radius: 15%;
        background: #ee6534;
        padding: 10px;
        text-align: center;
    }
    
    .brand_logo {
        height: 90px;
        width: 250px;
        border-radius: 15%;
        border: 2px solid white;
        background: white;
    }
    
    .header_logo {
        height: 55px;
    }
    
    .header_text {
        margin-top: 25px;
    }
    
    .header_text a {
        color: #ee6534;
    }
    
    .form_container {
        margin-top: 75px;
    }
    
    .login_btn {
        width: 100%;
        background: #ee6534 !important;
        color: white !important;
    }
    
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    
    .login_container {
        /*padding: 0 2rem;*/
    }
    
    .input-group-text {
        background: #ee6534 !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #ee6534 !important;
    }
    
    a {
        color: #dbdbdb;
    }
    
    .inputlabel {
        line-height: 35px;
        height: 35px;
        width: 100%;
        vertical-align: middle;
        margin-right: 5px;
    }
    
    .sectiontype {
        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem !important;
        border: 1px solid #acacac;
        /*margin-right: 50px;*/
    }
    
    .status {
        margin-top: 10px;
    }
    
    .sectionhdr {
        background: #ee6534;
    }
    
    .sectionhdrlabel {
        color: #f4f4f4;
        font-size: calc(14px + (25 - 14) * ((100vw - 300px) / (1600 - 300)));
    }
    
    .sectionhdrlabel2 {
        color: #f4f4f4;
        font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (1600 - 300)));
    }
    
    .sectionhdrlabel3 {
        color: #484848;
        font-size: calc(14px + (25 - 14) * ((100vw - 300px) / (1600 - 300)));
    }
    
    .statusline {
        margin-top: 5px;
    }
    
    .pgbtn {
        margin: 5px 8px;
        height: 148px;
        width: 100%;
        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem !important;
        border: 1px solid #acacac;
        color: #c71919;
        /*font-size: 20px;*/
        text-transform: uppercase;
        font-weight: bold;
        background-repeat: no-repeat;
        text-align: center;
        font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
    }
    
    .pgbtn2 {
        margin: 5px 8px;
        height: 110px;
        width: 100%;
        color: #c71919;
        /*font-size: 20px;*/
        font-weight: bold;
        background-repeat: no-repeat;
        text-align: center;
    }
    
    .pgbtn3 {
        margin: 15px 0px;
        height: 50px;
        width: 100%;
        color: white;
        /*font-size: 20px;*/
        font-weight: bold;
        background-repeat: no-repeat;
        text-align: center;
    }
    
    .pgbtn4 {
        margin: 5px 8px;
        height: 60px;
        width: 100%;
        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem !important;
        border: 1px solid #acacac;
        color: #c71919;
        /*font-size: 20px;*/
        text-transform: uppercase;
        font-weight: bold;
        background-repeat: no-repeat;
        text-align: center;
        font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
    }
    
    .nopic {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .labeltag {
        padding-top: 10px;
        padding-left: 10px;
        height: 41px;
        width: 100%;
        color: #c71919;
        /*font-size: 20px;*/
        font-weight: bold;
    }
    
    .pgtypebtn {
        margin: 5px 0;
        height: 121px;
        width: 100%;
        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem !important;
        border: 1px solid #acacac;
        color: #c71919;
        /*font-size: 25px;*/
        font-weight: bold;
    }
    
    .pgbtntext {
        height: 200px;
        line-height: 200px;
        vertical-align: text-bottom;
    }
    
    .pgimg {
        width: 65%;
    }
    
    .serialnuminput {
        line-height: 40px;
        height: 40px;
        vertical-align: middle;
        margin: 5px 0 5px 0;
        font-size: 25px;
    }
    
    .batrepdateinput {
        line-height: 40px;
        height: 40px;
        width: 100%;
        vertical-align: middle;
        margin: 5px 0;
        font-size: 25px
    }
    
    .yok {
        background: url("../img/yok_battery_500x500.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding: 5px 5px 5px 5px;
        line-height: 80px;
        height: 80px;
    }
    
    .as {
        background: url("../img/as_battery_500x500.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding: 5px 5px 5px 5px;
        line-height: 80px;
        height: 80px;
    }
    
    .swollen {
        background: url("../img/battery_swollen_500x500.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding: 5px 5px 5px 5px;
        line-height: 100px;
        height: 100px;
    }
    
    .punctured {
        background: url("../img/battery_punctured_500x500.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding: 5px 5px 5px 5px;
        line-height: 100px;
        height: 100px;
    }
    
    .wrinkled {
        background: url("../img/battery_wrinkled_500x500.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding: 5px 5px 5px 5px;
        line-height: 100px;
        height: 100px;
    }
    /* ADJUSTMENTS TO BOOTSTRAP ELEMENTS 

.col-lg-5 {
    margin-right: 5px !important;
}*/
    
    .addrecord {
        height: 80%;
        background: #619361;
        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem !important;
        border: 1px solid #acacac;
        color: white;
        margin-top: 6px;
        width: 100%;
        padding: 3px 12px;
    }
    
    .addrecord:hover {
        background: #ffffff;
        border: 1px solid #ee6534;
        color: #ee6534;
    }
    
    .submitrecord {
        width: 100%;
        height: 100%;
        background: #619361;
        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem !important;
        border: 1px solid #acacac;
        color: white;
    }
    
    .exprecord {
        width: 100%;
        height: 100%;
        background: #619361;
        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem !important;
        border: 1px solid #acacac;
        color: white;
    }
    
    .statusselected {
        background: #0e630e;
        color: white;
    }
    
    .p-2 {
        padding: 0 !important;
        width: 100%;
    }
    
    .inputerror {
        border-radius: 0.25rem 0.25rem 0.25rem 0.25rem !important;
        border: 3px solid red !important;
        background-color: rgba(255, 123, 123, 0.331);
    }
    
    .form-control {
        text-align: center;
    }
    
    .fa {
        font-size: 1.2em;
        color: #c71919;
        padding-left: -10px !important;
    }
    
    .fa.fa-sun-o {
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        color: #686985;
        padding-left: -10px !important;
    }
    
    .ibutton {
        padding: 0 0;
    }
    /* Calendar settings */
    
    .ui-widget-content {
        width: auto;
        height: auto;
        border: 1px solid blue;
    }
    
    .ui-widget {
        font-size: 1.25em;
    }
    
    .select-css {
        display: block;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 700;
        color: #444;
        line-height: 1.3;
        padding: .6em 1.4em .5em .8em;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
        border-radius: .5em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
    }
    
    .select-css::-ms-expand {
        display: none;
    }
    
    .select-css:hover {
        border-color: #888;
    }
    
    .select-css:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222;
        outline: none;
    }
    
    .select-css option {
        font-weight: normal;
    }
    /* Support for rtl text, explicit support for Arabic and Hebrew */
    
    *[dir="rtl"] .select-css,
     :root:lang(ar) .select-css,
     :root:lang(iw) .select-css {
        background-position: left .7em top 50%, 0 0;
        padding: .6em .8em .5em 1.4em;
    }
    /* Disabled styles */
    
    .select-css:disabled,
    .select-css[aria-disabled=true] {
        color: graytext;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    }
    
    .select-css:disabled:hover,
    .select-css[aria-disabled=true] {
        border-color: #aaa;
    }
    
    .seticon {
        line-height: 53px !important;
    }
    
    .table {
        margin-bottom: 1rem !important;
        width: 100%;
    }
    
    .r121tbl {
        /*font-size: 18px !important;*/
    }
    
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
    }
    
    table.dataTable thead th,
    table.dataTable tfoot th {
        font-weight: 500 !important;
    }
    
    .dataTables_wrapper {
        color: #4a4a4a !important;
        font-size: .75em !important;
    }
    
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0.25em .25em;
        border-radius: 4px;
    }
    
    .paginate_button.current {
        background: linear-gradient(to bottom, white 0%, #edd2a3 100%) !important;
    }
    
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(247, 233, 215, 0.5);
    }
    
    .table td,
    .table th {
        font-weight: 300;
    }
    
    .dataTables_info {
        margin-right: 5em !important;
    }
    
    .table tr {
        height: 11px;
    }
    
    table.dataTable tbody th,
    table.dataTable tbody td {
        padding: 4px 10px !important;
        font-size: 1.25em !important;
    }
    
    #shippedunits {
        margin-top: 20px !important;
    }
    
    .showtable {
        /*visibility: hidden !important;*/
    }
    
    #output {
        color: #179317;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        padding-top: 15px;
    }
    
    #target {
        border: 1px solid #222;
        border-width: thin;
        border-radius: 4px;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        text-align: center;
        background-color: #e9e9ea
    }
    
    #target:hover {
        background-color: #ee6534;
        color: white;
    }
    /*  SLIDER STYLES */
    
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked+.slider {
        background-color: #ee6534;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px #ee6534;
    }
    
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
    /*  SLIDER 2 STYLES */
    
    .switch2 {
        position: relative;
        display: inline-block;
        width: 36px;
        height: 20px;
    }
    
    .switch2 input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider2 {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider2:before {
        position: absolute;
        content: "";
        height: 12px !important;
        width: 12px !important;
        left: 4px !important;
        bottom: 4px !important;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked+.slider2 {
        background-color: #ee6534;
    }
    
    input:focus+.slider2 {
        box-shadow: 0 0 1px #ee6534;
    }
    
    input:checked+.slider2:before {
        -webkit-transform: translateX(16px);
        -ms-transform: translateX(16px);
        transform: translateX(16px);
    }
    /* Rounded sliders */
    
    .slider2.round {
        border-radius: 24px;
    }
    
    .slider2.round:before {
        border-radius: 50%;
    }
    /* Checkboxes UV Repair */
    
    ul.ks-cboxtags {
        list-style: none;
        padding: 20px;
    }
    
    ul.ks-cboxtags li {
        display: inline;
    }
    
    ul.ks-cboxtags li label {
        display: inline-block;
        background-color: rgba(255, 255, 255, .9);
        border: 2px solid rgba(139, 139, 139, .3);
        color: #adadad;
        border-radius: 25px;
        white-space: nowrap;
        margin: 3px 0px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        transition: all .2s;
    }
    
    ul.ks-cboxtags li label {
        padding: 8px 12px;
        cursor: pointer;
    }
    
    ul.ks-cboxtags li label::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 12px;
        padding: 2px 6px 2px 2px;
        content: "\f067";
        transition: transform .3s ease-in-out;
    }
    
    ul.ks-cboxtags li input[type="checkbox"]:checked+label::before {
        content: "\f00c";
        transform: rotate(-360deg);
        transition: transform .3s ease-in-out;
    }
    
    ul.ks-cboxtags li input[type="checkbox"]:checked+label {
        border: 2px solid #ee6534;
        background-color: #ee6534;
        font-weight: bold;
        color: #fff;
        transition: all .2s;
    }
    
    ul.ks-cboxtags li input[type="checkbox"] {
        display: absolute;
    }
    
    ul.ks-cboxtags li input[type="checkbox"] {
        position: absolute;
        opacity: 0;
    }
    
    ul.ks-cboxtags li input[type="checkbox"]:focus+label {
        border: 2px solid #e9a1ff;
    }
    
    .optlbl {
        padding-right: 5px;
        padding-top: 4px;
        font-weight: normal;
        font-size: 12px;
    }
    
    .no-close .ui-dialog-titlebar-close {
        display: none;
    }
    
    .ui-dialog .ui-dialog-buttonpane button {
        padding: 8px 8px;
    }
    
    .ui-widget-content {
        border: 1px solid #dddddd;
        background: #fcfcfc;
        color: #333333;
    }
    
    #dialog-confirm {
        display: none;
    }
    /*section dividers*/
    /* Dashed border */
    
    hr.dashed {
        border-top: 3px dashed #bbb;
    }
    /* Dotted border */
    
    hr.dotted {
        border-top: 3px dotted #bbb;
    }
    /* Solid border */
    
    hr.solid {
        border-top: 3px solid #bbb;
    }
    /* Rounded border */
    
    hr.rounded {
        border-top: 8px solid #bbb !important;
        border-radius: 5px !important;
    }
    
    .newframe {
        border-width: 1px;
        border-color: #c8d3dc;
        border-style: solid;
    }